// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 NAPI Lab
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include <dt-bindings/net/microchip-lan78xx.h>
#include "rk3308.dtsi"

/ {
	model = "NAPI-Switch";
	compatible = "napilab,napi-switch", "rockchip,rk3308";

	aliases {
		ethernet0 = &gmac;
		mmc0 = &emmc;
		mmc1 = &sdmmc;
	};

	chosen {
		stdout-path = "serial0:1500000n8";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&green_led>, <&heartbeat_led>;

		green-led {
			color = <LED_COLOR_ID_GREEN>;
			default-state = "on";
			function = LED_FUNCTION_POWER;
			gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
		};

		blue-led {
			color = <LED_COLOR_ID_BLUE>;
			default-state = "on";
			function = LED_FUNCTION_HEARTBEAT;
			gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_io>;
	};

	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_io: vcc-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc_io";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_otg: vcc5v0-otg {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&otg_vbus_drv>;
		regulator-name = "vcc5v0_otg";
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vdd_core: vdd-core {
		compatible = "pwm-regulator";
		pwms = <&pwm0 0 5000 1>;
		pwm-supply = <&vcc5v0_sys>;
		regulator-name = "vdd_core";
		regulator-min-microvolt = <827000>;
		regulator-max-microvolt = <1340000>;
		regulator-init-microvolt = <1015000>;
		regulator-settling-time-up-us = <250>;
		regulator-always-on;
		regulator-boot-on;
	};

	vdd_log: vdd-log {
		compatible = "regulator-fixed";
		regulator-name = "vdd_log";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1050000>;
		regulator-max-microvolt = <1050000>;
		vin-supply = <&vcc5v0_sys>;
	};
};

&cpu0 {
	cpu-supply = <&vdd_core>;
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	no-sdio;
	no-sd;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd>;
	vmmc-supply = <&vcc_io>;
	vqmmc-supply = <&vcc_1v8>;
	status = "okay";
};

&gmac {
	clock_in_out = "output";
	phy-mode = "rmii";
	phy-supply = <&vcc_io>;
	status = "okay";

	fixed-link {
		speed = <100>;
		full-duplex;
	};
};

&i2c1 {
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		address-width = <16>;
		pagesize = <32>;
		size = <8192>;
	};

	rtc@68 {
		compatible = "dallas,ds1338";
		reg = <0x68>;
	};
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&rtc_32k>;

	ksz9567 {
		ksz_int: ksz-int {
			rockchip,pins = <4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		ksz_rst: ksz-rst {
			rockchip,pins = <2 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	leds {
		green_led: green-led {
			rockchip,pins = <0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		heartbeat_led: heartbeat-led {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		otg_vbus_drv: otg-vbus-drv {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm0 {
	pinctrl-0 = <&pwm0_pin_pull_down>;
	status = "okay";
};

&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&sdmmc {
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	vmmc-supply = <&vcc_io>;
	status = "okay";
};

&spi2 {
	status = "okay";

	switch@0 {
		compatible = "microchip,ksz9567";
		reg = <0>;
		interrupt-parent = <&gpio4>;
		interrupts = <RK_PB1 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&ksz_int &ksz_rst>;
		spi-max-frequency = <10000000>;

		ethernet-ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				label = "lan1";
				phy-mode = "internal";
			};

			port@1 {
				reg = <1>;
				label = "lan2";
				phy-mode = "internal";
			};

			port@2 {
				reg = <2>;
				label = "lan3";
				phy-mode = "internal";
			};

			port@3 {
				reg = <3>;
				label = "lan4";
				phy-mode = "internal";
			};

			port@4 {
				reg = <4>;
				label = "lan5";
				phy-mode = "internal";
			};

			port@5 {
				reg = <5>;
				ethernet = <&gmac>;
				phy-mode = "rmii";

				fixed-link {
					speed = <100>;
					full-duplex;
				};
			};

			sfp_port: port@6 {
				reg = <6>;
				label = "sfp";
				managed = "in-band-status";
				phy-mode = "sgmii";
			};
		};
	};
};

&u2phy {
	status = "okay";

	u2phy_host: host-port {
		phy-supply = <&vcc5v0_otg>;
		status = "okay";
	};

	u2phy_otg: otg-port {
		phy-supply = <&vcc5v0_otg>;
		status = "okay";
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_xfer>;
	status = "okay";
};

&usb20_otg {
	#address-cells = <1>;
	#size-cells = <0>;
	dr_mode = "host";
	status = "okay";

	ethernet@1 {
		compatible = "usb424,7850";
		reg = <1>;

		mdio {
			#address-cells = <1>;
			#size-cells = <0>;

			lan7850_phy: ethernet-phy@1 {
				reg = <1>;
				microchip,led-modes = <LAN78XX_DUPLEX_COLLISION
						       LAN78XX_FORCE_LED_OFF
						       LAN78XX_ACTIVITY>;
			};
		};
	};
};

&usb_host_ehci {
	status = "okay";
};

&usb_host_ohci {
	status = "okay";
};

&wdt {
	status = "okay";
};
